services:
  mongodb:
    image: mongo:8
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=pass123
    volumes:
      - type: bind
        source: ./mongo-data
        target: /data/db
  backend:
    build:
      context: ./be
      dockerfile: ./Dockerfile
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
    develop:
      watch:
        - action: sync
          path: ./be/src
          target: /app/src
